<th:block th:fragment="main">
    <script src="/js/app.js"></script>
</th:block>
<th:block th:fragment="schedule">
    <script src="/js/schedule.js"></script>
</th:block>
<th:block th:fragment="sql">
    <script src="/js/sql.js"></script>
</th:block>
<th:block th:fragment="redis">
    <script src="/js/redis.js"></script>
</th:block>
<th:block th:fragment="csv">
    <script src="/js/csv.js"></script>
</th:block>
<th:block th:fragment="loop">
    <script src="/js/loop.js"></script>
</th:block>
<th:block th:fragment="query_flow">
    <script src="/js/query_flow.js"></script>
</th:block>


